* {
  /** Applied to every element. But inheritance not involved**/
  /* border-top: 2px solid aquamarine;  */
  margin: 0; /** All default spaces are gone **/
  padding: 0; /** All default spaces are gone **/
}

body {
  color: black;
  font-family: sans-serif;
  border-top: 20px solid green; /** Not inherited**/
}

.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

article {
  margin-bottom: 60px;
}

article p:first-child {
  color: red !important;
}

aside {
  padding: 50px 0;
  border: 2px solid red;
  width: 500px;
}

.main-header {
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

.post-header {
  margin-bottom: 40px;
}

/** Demonstrate margin and padding on inline elements **/
nav a:link {
  background-color: aqua;
  margin: 20px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: serif;
  font-size: 16px;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-style: oblique;
}

h2 {
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  text-align: center;
}

.post-img {
  width: 100%;
  height: auto;
}

p {
  line-height: 1;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 16px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0; /** We dont want margin-bottom for the last element so we reset it **/
}

/* ul {
  list-style: none;
} */

/**Below code not working **/
li :first-child {
  font-weight: bold !important;
  font-size: 10px !important;
  color: red !important;
}

/**
Styling links
**/
a:link {
  color: red;
  text-decoration: none;
}
a:visited {
  color: gray;
}

a:hover {
  color: aqua;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}

a:active {
  background-color: aquamarine;
  font-style: italic;
}

/**
Resolving conflicts example
1]Red
2]If id not there then last class .text color greenyellow will be applied
3]If class not there then element selector will be applied blue
**/

#copyright {
  color: red;
}

.copyright {
  color: aqua;
}

.text {
  color: greenyellow;
}

footer p {
  color: blue !important;
  font-size: 10px;
}
