h1,
h2,
h3,
h4,
p,
li {
  font-family: serif;
  font-size: 16px;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-style: oblique;
}

h4 {
  text-align: center;
}

p {
  line-height: 1;
}

li {
  font-size: 16px;
}

footer p {
  font-size: 10px;
}

/* ul {
  list-style: none;
} */

/**Below code not working **/
li :first-child {
  font-weight: bold !important;
  font-size: 10px !important;
  color: red !important;
}

article p:first-child {
  color: red !important;
}

/**
Styling links
**/
a:link {
  color: red;
  text-decoration: none;
}
a:visited {
  color: gray;
}

a:hover {
  color: aqua;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}

a:active {
  background-color: aquamarine;
  font-style: italic;
}

/**
Resolving conflicts example
1]Red
2]If id not there then last class .text color greenyellow will be applied
3]If class not there then element selector will be applied blue
**/

#copyright {
  color: red;
}

.copyright {
  color: aqua;
}

.text {
  color: greenyellow;
}

footer p {
  color: blue !important;
}
